In [15]:
from pymongo import MongoClient
import pandas as pd
import pickle

In [106]:
from pymongo import MongoClient
import pandas as pd
import pandas
from itertools import chain
import numpy as np

import pickle

In [95]:

from bson import json_util, ObjectId
from pandas.io.json import json_normalize
import json

def mongo_to_dataframe(mongo_data):

        sanitized = json.loads(json_util.dumps(mongo_data))
        normalized = json_normalize(sanitized)
        df = pd.DataFrame(normalized)

        return df

In [2]:
client = MongoClient()
client.list_database_names()

['admin', 'books', 'comedy_covid', 'config', 'local', 'outings', 'ted']

In [3]:
db = client.ted
db.list_collection_names()

['ted_stats', 'ted_transcripts', 'ted_comments']

In [137]:
#db1 = db.covid_comedy_youtube_comments.aggregate([{ '$unwind': '$items' }])
#db.inventory.aggregate( [ { $unwind : "$sizes" } ] )

In [4]:
cursor = db.ted_transcripts.find({}, {'_id':0, 'url': 1, 'transcript.text':1})

In [7]:
df = pd.DataFrame(list(cursor))

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2730 entries, 0 to 2729
Data columns (total 2 columns):
url           2730 non-null object
transcript    2416 non-null object
dtypes: object(2)
memory usage: 42.8+ KB

In [9]:
df = df.dropna()#.astype(str)#replace("{'text': ", '')

In [21]:
df.head()

      video_id                                         transcript
0  YgAuFqEs6yk  [{'text': 'I remember watching my father raise...
1  bNmRr-BYnxA  [{'text': 'Transcriber: Joseph Geni
Reviewer: ...
2  FVUkKKc3Vvk  [{'text': 'Hi, everyone, my name is Elizabeth,...
3  8bj0GR34XWc  [{'text': 'Transcriber: Ivana Korom
Reviewer: ...
4  eaCrsBtiYA4  [{'text': 'I am a public policy wonk.'}, {'tex...

In [11]:
df.set_index('url', inplace=True)

In [18]:
df.shape

(2416, 1)

In [19]:
df.reset_index(inplace=True)
df.rename(columns={'url': 'video_id'}, inplace=True)

In [20]:
with open('ted_video_transcripts_2416.pkl', 'wb') as picklefile:
    pickle.dump(df, picklefile)